
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark html{
  background-color: var(--dark);
  color: var(--light);
}
body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem ;
}   
 .index-body{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height*/
  line-height: 1;
  font-family: sans-serif;
} 

/* Default light theme */
header {
  background-color: #f1f1f1; /* Light background */
  color: #000;              /* Dark text color */
}

/* Dark theme */
body.dark header {
  background-color: #333;   /* Dark background */
  color: #fff;              /* Light text color */
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}
input{
  width: 400px  ;
  min-height: 30px;
  padding: 5px;
  margin: 5px 0;
}
button{
  width: 100%;
  height: 40px;
  background-color: #131212;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  
}

label,
input,
textarea {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 10px; /* Add some spacing between elements */
}

ol,
ul {
  list-style: none;
}


:root {
  --light: #fff;
  --light-accent: #f9f9fb;
  --dark: #000;
  --dark-accent: #222;
  --dark-accent-action: #111;
  --action: #563d7c;
  --action-accent: #8570a5;
  --disabled: #aaa;
  --error: #ff0022;
  --circle-color: #ffb100;
}

* {
  transition: background-color ease-in .5s;
}




.header-buttons {
  display: flex;
  align-items: flex-end;
  gap: 10px; /* Adjust the gap between the button and checkbox */
}


header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}
header h1 {
  flex: 1;
  font-size: 40px;
  margin: 0;
}


button{
  background-color: var(--dark-accent);
  color: var(--light-accent);
  width: 150px;
  /* margin-left: 10px; */
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
 
}
/* To hide the default checkbox */
input[type="checkbox"] {
  display: none;
}


/* Style the custom checkbox */
input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--circle-color);/* Add a border */
  cursor: pointer;
  margin-left: 10px;/* Add some spacing between the checkbox and the text */
  padding: 2%;
}
/* Style the custom checkbox when checked */
input[type="checkbox"]:checked + label {
  background-color: #007bff; /* Change color when checked */
}


header,
footer {
  padding: 2rem;
}

main {
  width: 100%;
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-top: double 1rem;
  border-bottom: double 1rem;
  
}

aside > h2 {
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 1px var(--dark-accent);
  margin-bottom: 2rem; /* Add margin at the bottom to prevent overlap */
}

 .grid{
  display:grid; 
  width:100%;
  height: 100%;
  grid-template-rows:repeat(1,1fr);
  grid-template-columns:repeat(2,1fr);
   gap:1rem;
  padding: 3rem; 
  
}  


.dark header,
.dark footer {
  background-color: var(--dark);
  color: var(--light);
}


.dark main {
  background-color: var(--dark-accent);
  color: var(--light);
  border-top: solid .5rem var(--disabled);
  border-bottom: solid .5rem var(--disabled);
}
.dark button{
  background-color: var(--light-accent);
  color: var(--dark);

}
.light button{
  color: var(--light);
  background-color: var(--dark-accent);
}
.light header,
.light footer {
  background-color: var(--light);
  color: var(--dark);
}
.dark section {
  background-color: var(--dark);
  color: var(--light);
}
.light main {
  background-color: var(--light-accent);
  color: var(--dark);
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  main{
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
  }
  h1{
    font-size: 1rem;
  }

aside > h2 {
  /* font-size: 2rem; */
  color: white;
  text-shadow: 1px 1px 1px var(--dark-accent);
  margin-bottom: 2rem; /* Add margin at the bottom to prevent overlap */
}
}
